<template>
    <main>
        <SectionIntro />
        <SectionPossibilities />
        <SectionIntegrations />
        <SectionInstructions />
        <SectionProjects />
        <SectionSupport />
    </main>
</template>

<script>
import SectionIntro from "@/sections/section-intro.vue";
import SectionPossibilities from "@/sections/section-possibilities.vue";
import SectionIntegrations from "@/sections/section-integration.vue";
import SectionInstructions from "@/sections/section-instructions.vue";
import SectionProjects from "@/sections/section-projects.vue";
import SectionSupport from "@/sections/section-support.vue";

export default {
    name: "pageHome",
    components: {
        SectionIntro,
        SectionPossibilities,
        SectionIntegrations,
        SectionInstructions,
        SectionProjects,
        SectionSupport,
    },
};
</script>
