.rs-projects {
    padding: 80px 0 50px 0;
    overflow: hidden;

    &__titling {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 100px;

        &-title {
            font-size: 16px;
            color: #1f1f1f;
            font-weight: normal;
            text-align: center;
        }

        &-subtitle {
            font-size: 48px;
            text-align: center;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 20px;
            width: 80%;

            span {
                color: #226ce6;
            }
        }

        &-desc {
            width: 500px;
            text-align: center;
            color: #8a8a8a;
            font-size: 16px;
            line-height: 140%;
        }
    }

    &__swiper {
        overflow: visible;
        width: 90%;
        margin: 0 auto 70px auto;

        .swiper-wrapper {
            overflow: visible;
        }
    }

    &__slider {
        &-navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        &-btn {
            box-shadow: 0 5px 20px -10px #13284e40;

            &.swiper-button-disabled {
                filter: grayscale(1);
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }

    .rs-prjctslide {
        height: 650px;

        &.swiper-slide-active {
            .rs-prjctslide__content {
                transform: scale(1.1);
                opacity: 1;
            }
        }

        &__content {
            height: 100%;
            transition: 0.3s;
            opacity: 0.6;
            position: relative;
            display: flex;
            align-items: flex-end;
            justify-content: flex-start;
            border-radius: 40px;
            overflow: hidden;
            transform: scale(0.9);
        }

        &__desc {
            background: #fff;
            position: relative;
            z-index: 2;
            margin: 40px;
            width: 600px;
            padding: 30px 10% 30px 30px;
            border-radius: 20px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &__title {
            font-size: 24px;
            color: #226ce6;
        }

        &__subtitle {
            color: #8a8a8a;
            font-size: 14px;
            line-height: 140%;
            // width: 80%;
        }

        &__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            object-fit: cover;
            transition: 0.3s;
            height: 100%;
            filter: brightness(0.9);
        }
    }
}

@media (max-width: 1250px) {
    .rs-projects {
        padding: 70px 0 40px 0;
    }
}
@media (max-width: 992px) {
    .rs-projects {
        &__titling {
            margin-bottom: 30px;

            &-subtitle {
                font-size: 34px;
                width: 100%;
            }
        }

        .rs-prjctslide {
            height: 450px;
        }
    }
}
@media (max-width: 768px) {
    .rs-projects {
        padding: 30px 0;

        &__titling {
            margin-bottom: 50px;

            &-title {
                font-size: 14px;
            }

            &-subtitle {
                font-size: 28px;
            }

            &-desc {
                width: auto;
            }
        }
    }
}
@media (max-width: 576px) {
    .rs-projects {
        padding: 0 0 30px 0;

        &__titling {
            margin: 0 0 15px 0;

            &-subtitle {
                font-size: 24px;
            }

            &-desc {
                font-size: 14px;
            }
        }

        &__swiper {
            margin: 0 auto 30px 0;

            .swiper-wrapper {
                overflow: visible;
            }
        }

        .rs-prjctslide {
            height: 320px;

            &__content {
                transform: none;
                border-radius: 14px;
            }

            &__desc {
                margin: 5px;
                width: 100%;
                padding: 15px 20px;
                border-radius: 10px;
                gap: 10px;
            }

            &__title {
                font-size: 16px;
            }

            &__subtitle {
                font-size: 14px;
                line-height: 120%;
            }

            &.swiper-slide-active {
                .rs-prjctslide__content {
                    transform: unset;
                    opacity: 1;
                }
            }
        }
    }
}
