.rs-possbs {
    padding: 100px 0 50px 0;

    &__titling {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        &-title {
            font-size: 16px;
            color: #1f1f1f;
            font-weight: normal;
            text-align: center;
        }

        &-subtitle {
            font-size: 48px;
            text-align: center;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 20px;
            width: 70%;

            span {
                color: #226ce6;
            }
        }

        &-desc {
            width: 500px;
            text-align: center;
            color: #8a8a8a;
            font-size: 16px;
            line-height: 140%;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    &__tabs {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    &__tab {
        font-size: 16px;
        line-height: 1;
        color: #8a8a8a;
        // color: #226ce6;
        cursor: pointer;
        padding: 20px 30px;
        transition: 0.3s;
        width: 100%;
        text-align: center;
        border-bottom: 2px solid transparent;

        &:hover {
            background: #fafafa;
        }

        &.rs-active {
            color: #226ce6;
            border-color: #226ce6;
        }
    }

    &__tabcontents {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        // min-height: 800px;
    }

    &__tabcontent {
        // position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transition: 0.3s;
        // opacity: 0;
        // max-height: 0;
        // overflow: hidden;
        // visibility: hidden;

        // &.rs-active {
        //     max-height: 80vh;
        //     overflow: visible;
        //     // opacity: 1;
        //     visibility: visible;
        // }
    }

    &__item {
        gap: 100px;
        display: flex;
    }

    &__image {
        width: 40%;
        aspect-ratio: 1 / 1;
        flex-shrink: 0;
        background: #ffffff;
        position: relative;
        // padding-top: 45%;
        border-radius: 20px;
        box-shadow: 0 40px 130px -30px rgba(0, 0, 0, 0.1);
        // filter: brightness(0.9);

        &-img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            padding: 100px;
            height: 100%;
            object-fit: contain;
            // opacity: 0;
        }
    }

    &__desc {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px 10% 20px 0;

        &-title {
            font-size: 24px;
            width: 60%;
            margin-bottom: 40px;
        }

        &-btn {
            box-shadow: 0 10px 30px -10px #13284e80;
        }

        .rs-possibility {
            display: flex;
            margin-bottom: 30px;
            flex-direction: column;
            gap: 15px;

            &__titling {
                display: flex;
                align-items: center;
                gap: 10px;
            }

            &__icon {
                width: 28px;
                height: 28px;
                display: flex;
            }

            &__title {
                font-size: 18px;
                color: #226ce6;
            }

            &__desc {
                font-size: 16px;
                color: #8a8a8a;
                line-height: 140%;
            }
        }
    }
}

@media (max-width: 1250px) {
    .rs-possbs {
        padding: 70px 0 40px 0;
    }
}

@media (max-width: 992px) {
    .rs-possbs {
        &__titling {
            margin-bottom: 30px;

            &-subtitle {
                font-size: 34px;
                width: 100%;
            }
        }

        &__tab {
            font-size: 14px;
            padding: 15px 20px;
        }

        &__item {
            gap: 20px;
        }

        &__image {
            width: 40%;
            padding-top: 25%;

            &-img {
                padding: 20px;
            }
        }
    }
}

@media (max-width: 768px) {
    .rs-possbs {
        padding: 30px 0;

        &__titling {
            margin-bottom: 30px;

            &-title {
                font-size: 14px;
            }

            &-subtitle {
                font-size: 28px;
            }

            &-desc {
                width: auto;
            }
        }

        &__item {
            flex-direction: column-reverse;
        }

        &__image {
            width: 100%;
            padding-top: 50%;

            &-img {
                padding: 10px;
            }
        }

        &__desc {
            padding: 10px 0;

            &-title {
                font-size: 18px;
                width: auto;
                margin-bottom: 10px;
            }

            .rs-possibility {
                margin-bottom: 20px;
                gap: 5px;

                &__titling {
                    gap: 5px;
                }

                &__icon {
                    width: 24px;
                    height: 24px;
                }

                &__title {
                    font-size: 16px;
                }

                &__desc {
                    font-size: 14px;
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .rs-possbs {
        padding: 0 0 30px 0;

        &__titling {
            margin: 0 0 15px 0;

            &-subtitle {
                font-size: 24px;
            }

            &-desc {
                font-size: 14px;
            }
        }

        &__tabs {
            flex-direction: column;
        }

        &__tab {
            justify-content: flex-start;
            text-align: left;
            padding: 7.5px 0;
            margin: 0 0 5px;
        }

        &__desc {
            padding: 10px 0;
        }

        &__image {
            padding-top: 80%;
        }
    }
}
