.rs-integrs {
    padding: 100px 0 50px 0;

    &__titling {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;

        &-title {
            font-size: 16px;
            color: #1f1f1f;
            font-weight: normal;
            text-align: center;
        }

        &-subtitle {
            font-size: 48px;
            text-align: center;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 20px;
            width: 80%;

            span {
                color: #226ce6;
            }
        }

        &-desc {
            width: 500px;
            text-align: center;
            color: #8a8a8a;
            font-size: 16px;
            line-height: 140%;
        }
    }

    &__body {
        display: grid;
        grid-template-columns: auto 30%;
        gap: 20px;
    }

    &__item {
        min-height: 330px;
        border-radius: 30px;
        background: #f9f9f9;
        padding: 45px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        &-title {
            color: #226ce6;
            font-size: 24px;
            line-height: 130%;
        }

        &-desc {
            color: #8a8a8a;
            font-size: 14px;
            line-height: 140%;
            font-weight: normal;
        }

        &-icons {
            margin: auto 0 0 0;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            gap: 15px;

            img {
                width: 70px;
                height: 70px;
                display: flex;
                object-fit: contain;
                box-shadow: 0 10px 30px -5px #13284e90;
                border-radius: 22px;
            }
        }

        // &:nth-child(1) {
        // }
        // &:nth-child(2) {
        // }
        &:nth-child(3) {
            grid-column: 1 / 3;
            background: url("@/assets/images/integration-bg-3.png") no-repeat right center #f9f9f9;
        }
    }
}

@media (max-width: 992px) {
    .rs-integrs {
        padding: 30px 0;

        &__titling {
            margin-bottom: 30px;

            &-subtitle {
                font-size: 34px;
                width: 100%;
            }
        }

        &__body {
            grid-template-columns: auto auto;
        }

        &__item {
            &-title {
                font-size: 20px;
            }

            &:nth-child(1) {
                grid-column: 1 / 3;
            }
            &:nth-child(3) {
                grid-column: auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .rs-integrs {
        padding: 0 0 30px 0;

        &__titling {
            margin-bottom: 30px;

            &-title {
                font-size: 14px;
            }

            &-subtitle {
                font-size: 28px;
            }

            &-desc {
                width: auto;
            }
        }

        &__body {
            display: flex;
            flex-direction: column;
        }

        &__item {
            min-height: auto;
        }
    }
}

@media (max-width: 576px) {
    .rs-integrs {
        &__titling {
            margin: 0 0 15px 0;

            &-subtitle {
                font-size: 24px;
            }

            &-desc {
                font-size: 14px;
            }
        }

        &__item {
            padding: 20px;
            border-radius: 10px;

            &-title {
                font-size: 16px;
            }

            &-desc {
                line-height: 1.2;
            }

            &-icons {
                gap: 10px;

                img {
                    width: 45px;
                    height: 45px;
                    border-radius: 15px;
                    box-shadow: 0 5px 20px -10px #13284e50;
                }
            }
        }
    }
}
