.rs-support {
    padding: 80px 0 80px 0;
    overflow: hidden;

    &__titling {
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-bottom: 80px;

        &-title {
            font-size: 16px;
            color: #1f1f1f;
            font-weight: normal;
            text-align: center;
        }

        &-subtitle {
            font-size: 48px;
            text-align: center;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 20px;
            width: 70%;

            span {
                color: #226ce6;
            }
        }

        &-desc {
            text-align: center;
            color: #8a8a8a;
            font-size: 16px;
            line-height: 140%;
        }
    }

    &__slider {
        &-navigation {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 15px;
            margin: 50px 0 0 0;
        }

        &-btn {
            box-shadow: 0 5px 20px -10px #13284e40;

            &.swiper-button-disabled {
                filter: grayscale(1);
                pointer-events: none;
                opacity: 0.5;
            }
        }
    }

    .rs-supportslide {
        // background: lightgoldenrodyellow;
        overflow: hidden;
        border-radius: 30px;
        box-shadow: 0 0 60px -25px #13284e40;

        &__image {
            position: relative;
            padding-top: 60%;
            overflow: hidden;
            border-radius: 30px;

            &-img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &-btn {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                display: flex;
                align-items: center;
                justify-content: center;
                width: 110px;
                height: 110px;
                border-radius: 50%;
                background: #226ce6;
                cursor: pointer;
                box-shadow: 0 0 0 rgba(81, 142, 240, 0.464);
                animation: pulse 2s infinite;

                &:hover {
                    animation: none;
                }
            }
        }

        &__desc {
            padding: 30px 30px 50px 30px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }

        &__date {
            font-size: 14px;
            color: #8a8a8a;
        }

        &__title {
            font-size: 24px;
            line-height: 130%;
            color: #1f1f1f;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -moz-box;
            -moz-box-orient: vertical;
            display: -webkit-box;
            -webkit-line-clamp: 3;
            -webkit-box-orient: vertical;
            line-clamp: 3;
            box-orient: vertical;
        }
    }
}

@media (max-width: 1250px) {
    .rs-support {
        padding: 70px 0 40px 0;

        &__titling {
            margin-bottom: 50px;

            &-subtitle {
                width: 100%;
            }
        }
    }
}

@media (max-width: 992px) {
    .rs-support {
        &__titling {
            margin-bottom: 30px;

            &-subtitle {
                font-size: 34px;
                width: 100%;
            }
        }
    }
}

@media (max-width: 768px) {
    .rs-support {
        padding: 30px 0;

        &__titling {
            &-title {
                font-size: 14px;
            }

            &-subtitle {
                font-size: 28px;
            }

            &-desc {
                width: auto;
            }
        }

        &__slider {
            &-navigation {
                margin: 30px 0 0 0;
            }
        }

        .rs-supportslide {
            &__image {
                &-btn {
                    width: 70px;
                    height: 70px;
                }
            }

            &__desc {
                padding: 20px 20px 40px 20px;
                gap: 10px;
            }

            &__title {
                font-size: 18px;
                line-height: 120%;
            }
        }
    }
}

@media (max-width: 576px) {
    .rs-support {
        padding: 0 0 30px 0;

        &__titling {
            margin: 0 0 15px 0;

            &-subtitle {
                font-size: 24px;
            }

            &-desc {
                font-size: 14px;
            }
        }

        &__slider {
            padding: 0 10%;
        }

        .rs-supportslide {
            border-radius: 15px;

            &__image {
                border-radius: 15px;

                &-btn {
                    width: 60px;
                    height: 60px;

                    img {
                        width: 20px;
                        height: 20px;
                    }
                }
            }

            &__desc {
                padding: 15px;
                gap: 5px;
            }

            &__date {
                font-size: 12px;
            }

            &__title {
                font-size: 14px;
                line-height: 120%;
            }
        }
    }
}

@media (max-width: 420px) {
    .rs-support {
        &__slider {
            width: 90%;
            padding: 0;
        }
    }
}
