.footer {
    background: #f9f9f9;
    padding: 70px 0 0 0;

    &__content {
        display: flex;
        gap: 50px;
        align-items: flex-start;
        justify-content: space-between;
    }

    &__info {
        width: 30%;
    }

    &__links {
        width: 10%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 10px;

        &-title {
            font-size: 16px;
            color: #226ce6;
            line-height: 130%;
            margin-bottom: 5px;
        }

        &.rs-last {
            width: 30%;
        }
    }

    &__link {
        text-decoration: none;
        font-size: 14px;
        color: #1f1f1f;
        transition: 0.3s;

        &:hover {
            opacity: 0.6;
        }
    }

    &__copyright {
        background: #1f1f1f;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 15px;
        color: #fff;
        font-size: 14px;
        margin: 50px 0 0 0;
    }
}

@media (max-width: 992px) {
    .footer {
        &__content {
            gap: 20px;
        }

        &__info {
            width: 25%;
            display: flex;
            flex-direction: column;
            gap: 10px;

            &-logo {
                width: 100%;
            }

            &-txt {
                font-size: 14px;
            }
        }

        &__links {
            width: auto;

            &.rs-last {
                width: 25%;
            }
        }
    }
}

@media (max-width: 576px) {
    .footer {
        padding: 30px 0 0 0;

        &__content {
            flex-wrap: wrap;
            justify-content: center;
            gap: 30px;
            padding: 0;
        }

        &__info {
            width: 70%;
            align-items: center;
            justify-content: center;
            margin: auto;
            text-align: center;

            &-logo {
                width: 150px;
            }
        }

        &__links {
            width: 30%;
            align-items: center;
            justify-content: center;
            margin: 0;
            text-align: center;

            &.rs-last {
                width: 100%;
            }
        }

        &__copyright {
            margin: 30px 0 0 0;
            font-size: 12px;
            padding: 15px;
        }
    }
}
