header {
    height: 0;
    position: relative;
    z-index: 9;
}

.rs-header {
    height: 90px;
    transition: 0.3s;
    position: relative;
    z-index: 9;
    background: #fff;
    box-shadow: 0 10px 80px -20px #09142720;

    &__content {
        height: 100%;
        display: flex;
        gap: 35px;
        align-items: center;
        justify-content: space-between;
        position: relative;
        z-index: 1;
    }

    &__logo {
        width: 150px;
        height: 40px;
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        &-link {
            width: 100%;
            display: flex;
            transition: 0.3s;
            height: 100%;

            &:hover {
                opacity: 0.7;
            }
        }

        &-image {
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
        }
    }

    &__lang {
        background: lightcoral;
        width: 90px;
        opacity: 0;
        height: 20px;
        overflow: hidden;
    }

    &__nav {
        flex-grow: 1;

        &-links {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 30px;
            flex-grow: 1;
        }
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        flex-shrink: 0;
        gap: 15px;
    }

    &__link {
        &-txt {
            transition: transform 0.3s;
            transform-origin: 50% 0;
            transform-style: preserve-3d;
            position: relative;
            display: inline-block;
            transition: 0.3s;
            color: #8a8a8a;
            cursor: pointer;
        }

        &-txt::before {
            position: absolute;
            content: attr(data-text);
            transform: rotateX(-90deg);
            transform-origin: 50% 0;
            top: 100%;
            left: 0;
            width: 100%;
            height: 100%;
            color: #226ce6;
        }

        &:hover & {
            &-txt {
                // color: #f1f1f1;
                transform: rotateX(90deg);
            }
        }
    }

    &__mobile {
        display: none;
    }

    &.scrolled {
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        right: 0;
        transform: translateY(-100px);
        animation: headerAppear 0.3s 1 ease-in-out forwards;
    }
}

@media (max-width: 1250px) {
    .rs-header {
        &__logo {
            width: 100px;
            height: 35px;
        }

        &__content {
            gap: 25px;
        }

        &__nav {
            &-links {
                gap: 15px;
                justify-content: space-between;
            }
        }

        &__link {
            &-txt {
                font-size: 14px;
            }
        }
    }
}

@media (max-width: 992px) {
    .rs-header {
        height: 70px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;

        &__nav {
            position: fixed;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            transform: translateX(-100%);
            transition: 0.4s;
            top: 70px;
            left: 0;
            right: 0;
            bottom: 0;
            max-height: calc(100vh - 70px);
            padding: 50px 50px 150px 50px;
            background: #fff;
            border-bottom: 1px solid rgba(29, 30, 44, 0.15);

            &-links {
                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
                width: 280px;
                gap: 20px;
                height: auto;
            }
        }

        &__logo {
            width: 160px;
        }

        &__link {
            &-txt {
                text-align: center;
                font-size: 24px;
            }
        }

        &__actions {
            position: fixed;
            transform: translateX(-100%);
            transition: 0.4s;
            bottom: 0;
            padding: 30px;
            left: 0;
            background: #ffffff;
            right: 0;
            width: auto;
            height: auto;
            justify-content: center;
        }

        &__mobile {
            display: flex;

            &-btn {
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.5s;
                width: 50px;
                height: 50px;

                &::after,
                &::before {
                    content: "";
                    position: absolute;
                    width: 4px;
                    height: 22px;
                    background: #1f1f1f;
                    border-radius: 10px;
                    transform: rotate(90deg) translateX(-5px);
                    transition: 0.3s;
                }

                &::before {
                    transform: rotate(90deg) translateX(5px);
                }
            }
        }

        &.opened {
            .rs-header {
                &__nav {
                    transform: translateX(0);
                }

                &__actions {
                    transform: translateX(0);
                }

                &__mobile {
                    &-btn {
                        transform: rotate(-135deg);

                        &::after {
                            transform: rotate(0deg) translateX(0);
                        }
                        &::before {
                            transform: rotate(90deg) translateX(0);
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    .rs-header {
        position: fixed;
        z-index: 9;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 3px 20px -5px #09142740;

        &__logo {
            width: 100px;
        }

        &__mobile {
            &-btn {
                width: 40px;
                height: 40px;
            }
        }

        &__nav {
            padding: 30px;

            &-links {
                width: 100%;
                gap: 20px;
            }
        }

        &__link {
            &-txt {
                font-size: 18px;
            }
        }
    }
}
