.rs-intro {
    // background: lightblue;
    min-height: 100vh;
    padding: 150px 0 100px 0;

    &__titling {
        // background: lightcoral;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-title {
            font-size: 14px;
            line-height: 130%;
            text-align: center;
            font-weight: normal;
            color: #1f1f1f;
        }

        &-subtitle {
            font-size: 64px;
            text-align: center;
            line-height: 130%;
            color: #1f1f1f;
            margin-bottom: 20px;
        }

        &-desc {
            width: 500px;
            text-align: center;
            color: #8a8a8a;
            font-size: 16px;
            line-height: 140%;
        }
    }

    &__actions {
        // background: lightgreen;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 50px 0;

        .rsbtn {
            min-width: 180px;
            box-shadow: 0 10px 30px -10px #13284e80;
        }
    }

    &__image {
        // background: #000;
        width: 100%;
        position: relative;

        &-img {
            width: 100%;
            object-fit: contain;
            border-radius: 30px;
            box-shadow: 0 100px 400px -20px rgba(19, 40, 78, 0.15);
        }

        &-video {
            position: absolute;
            top: 55px;
            bottom: 65px;
            left: 185px;
            right: 190px;

            video {
                width: 100%;
                background: #000;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

@media (max-width: 1250px) {
    .rs-intro {
        &__titling {
            &-subtitle {
                font-size: 54px;
            }
        }
    }
}

@media (max-width: 768px) {
    .rs-intro {
        &__titling {
            &-subtitle {
                font-size: 34px;
                line-height: 110%;
            }
        }
    }
}

@media (max-width: 576px) {
    .rs-intro {
        padding: 120px 0 60px 0;
        min-height: auto;

        &__titling {
            &-subtitle {
                font-size: 24px;
                line-height: 120%;
                margin: 10px 0 20px 0;
            }

            &-desc {
                font-size: 14px;
                line-height: 130%;
                width: auto;
            }
        }

        &__actions {
            padding: 30px 0;
            display: flex;
            flex-direction: column-reverse;

            .rsbtn {
                min-width: unset;
            }
        }
    }
}
