.rs-instructions {
    padding: 100px 0;

    &__content {
        display: flex;
        gap: 20px;
    }

    &__titling {
        width: 500px;
        flex-shrink: 0;

        &-title {
            font-size: 16px;
            color: #1f1f1f;
            font-weight: normal;
        }

        &-subtitle {
            font-size: 44px;
            font-weight: 600;
            line-height: 130%;
            margin-bottom: 20px;
            width: 80%;

            span {
                color: #226ce6;
            }
        }

        &-desc {
            width: 80%;
            color: #8a8a8a;
            font-size: 16px;
            line-height: 140%;
            margin-bottom: 30px;
        }
    }

    &__btn {
        box-shadow: 0 10px 30px -10px #13284e80;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex-grow: 1;
    }

    .rs-instruction {
        max-height: 80px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        overflow: hidden;
        transition: 0.6s;

        &__toggler {
            height: 80px;
            flex-shrink: 0;
            background: #f9f9f9;
            cursor: pointer;
            border-radius: 20px;
            width: 100%;
            display: flex;
            align-items: center;
            padding: 0 40px;
            transition: 0.3s;
            position: relative;
        }

        &__text {
            font-size: 24px;
            line-height: 130%;
            font-weight: bold;
        }

        &__btn {
            width: 25px;
            height: 25px;
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            top: 50%;
            right: 40px;
            transform: translateY(-50%);
            cursor: pointer;
            transition: 0.3s;

            &::after {
                content: "";
                position: absolute;
                width: 3px;
                height: 20px;
                background: #226ce6;
            }

            &::before {
                content: "";
                position: absolute;
                width: 20px;
                height: 3px;
                background: #226ce6;
                transition: 0.3s;
            }
        }

        &__body {
            padding: 25px 40px;
        }

        &.rs-open {
            max-height: 300px;
            overflow: auto;

            .rs-instruction {
                &__toggler {
                    box-shadow: 0 30px 20px -20px #13284e25;
                }

                &__btn::after {
                    transform: rotate(90deg);
                }

                &__text {
                    color: #226ce6;
                }
            }
        }
    }
}

@media (max-width: 1250px) {
    .rs-instructions {
        padding: 70px 0;

        &__titling {
            width: 320px;

            &-subtitle {
                font-size: 28px;
                line-height: 1.2;
            }
        }
    }
}

@media (max-width: 992px) {
    .rs-instructions {
        padding: 30px 0;

        &__content {
            flex-direction: column;
        }

        &__titling {
            width: 100%;
            margin: 0 0 30px 0;
            text-align: center;

            &-subtitle {
                width: auto;
            }

            &-desc {
                width: auto;
            }
        }
    }
}

@media (max-width: 768px) {
    .rs-instructions {
        .rs-instruction {
            &__toggler {
                padding: 0 30px;
            }

            &__text {
                font-size: 18px;
                line-height: 120%;
            }

            &__btn {
                width: 22px;
                height: 22px;
                right: 20px;

                &::after {
                    height: 17px;
                }

                &::before {
                    width: 17px;
                }
            }

            &__body {
                padding: 20px 30px;
                font-size: 14px;
                line-height: 1.2;
            }

            &.rs-open {
                max-height: 500px;
            }
        }
    }
}

@media (max-width: 576px) {
    .rs-instructions {
        padding: 0 0 30px 0;

        &__titling {
            margin: 0 0 15px 0;

            &-title {
                font-size: 14px;
            }

            &-subtitle {
                font-size: 24px;
                margin: 0 0 10px 0;
            }

            &-desc {
                font-size: 14px;
                margin: 0 0 20px 0;
            }
        }

        .rs-instruction {
            max-height: 70px;

            &__toggler {
                height: 70px;
                padding: 0 50px 0 20px;
                border-radius: 15px;
            }

            &__text {
                font-size: 16px;
            }

            &__body {
                padding: 20px;
            }

            &.rs-open {
                .rs-instruction {
                    &__toggler {
                        box-shadow: 0 25px 25px -15px #13284e30;
                    }
                }
            }
        }
    }
}
