<template>
    <section
        id="integrations"
        class="rs-integrs">
        <CompAnim
            :size="'1100px'"
            :top="'-25%'"
            :right="'00px'" />
        <div class="rs-integrs__content container">
            <div class="rs-integrs__titling">
                <h1
                    class="rs-integrs__titling-title pl-animatable"
                    v-scroll="'0s'">
                    {{ $t("integrs.title") }}
                </h1>
                <h2
                    class="rs-integrs__titling-subtitle pl-animatable"
                    v-scroll="'0.2s'"
                    v-html="$t('integrs.subtitle')"></h2>
                <p
                    class="rs-integrs__titling-desc pl-animatable"
                    v-scroll="'0.4s'">
                    {{ $t("integrs.desc") }}
                </p>
            </div>
            <div class="rs-integrs__body">
                <div
                    class="rs-integrs__item pl-animatable"
                    v-scroll="'0.6s'">
                    <h3
                        class="rs-integrs__item-title"
                        v-html="$t('integrs.socials_title')"></h3>
                    <p class="rs-integrs__item-desc">-</p>
                    <div class="rs-integrs__item-icons">
                        <img
                            class="rs-integrs__item-icons pl-animatable"
                            v-scroll="'0.8s'"
                            src="@/assets/images/integration-1-1.png"
                            alt="integration" />
                        <img
                            class="rs-integrs__item-icons pl-animatable"
                            v-scroll="'0.86s'"
                            src="@/assets/images/integration-1-2.png"
                            alt="integration" />
                        <img
                            class="rs-integrs__item-icons pl-animatable"
                            v-scroll="'0.92s'"
                            src="@/assets/images/integration-1-3.png"
                            alt="integration" />
                        <img
                            class="rs-integrs__item-icons pl-animatable"
                            v-scroll="'0.98s'"
                            src="@/assets/images/integration-1-4.png"
                            alt="integration" />
                        <img
                            class="rs-integrs__item-icons pl-animatable"
                            v-scroll="'1.04s'"
                            src="@/assets/images/integration-1-5.png"
                            alt="integration" />
                    </div>
                </div>
                <div
                    class="rs-integrs__item pl-animatable"
                    v-scroll="'0.6s'">
                    <h3
                        class="rs-integrs__item-title"
                        v-html="$t('integrs.langs_title')"></h3>
                    <p class="rs-integrs__item-desc">{{ $t("integrs.langs_desc") }}</p>
                    <div class="rs-integrs__item-icons">
                        <img
                            class="rs-integrs__item-icons pl-animatable"
                            v-scroll="'0.8s'"
                            src="@/assets/images/integration-2-1.png"
                            alt="integration" />
                        <img
                            class="rs-integrs__item-icons pl-animatable"
                            v-scroll="'0.88s'"
                            src="@/assets/images/integration-2-2.png"
                            alt="integration" />
                    </div>
                </div>
                <div
                    class="rs-integrs__item pl-animatable"
                    v-scroll="'0.6s'">
                    <h3
                        class="rs-integrs__item-title"
                        v-html="$t('integrs.libs_title')"></h3>
                    <p
                        class="rs-integrs__item-desc"
                        v-html="$t('integrs.libs_desc')"></p>
                    <div class="rs-integrs__item-icons">
                        <img
                            class="rs-integrs__item-icons pl-animatable"
                            v-scroll="'0.8s'"
                            src="@/assets/images/integration-3-1.png"
                            alt="integration" />
                        <img
                            class="rs-integrs__item-icons pl-animatable"
                            v-scroll="'0.88s'"
                            src="@/assets/images/integration-3-2.png"
                            alt="integration" />
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CompAnim from "@/components/comp-animafig.vue"
export default {
    name: "section-integrations",
    components: {CompAnim}
};
</script>
