<template>
    <footer class="footer">
        <div class="footer__content container">
            <div class="footer__info">
                <a
                    class="footer__info-logo"
                    href="#!">
                    <img
                        src="@/assets/images/logo.svg"
                        alt="logo"
                        class="footer__info-logo" />
                </a>
                <p class="footer__info-txt">{{ $t("footer.desc") }}</p>
            </div>
            <div class="footer__links">
                <p class="footer__links-title">{{ $t("footer.dep_title") }}</p>
                <a
                    class="footer__link"
                    href="#!">
                    Platon
                </a>
                <a
                    class="footer__link"
                    href="#!">
                    {{ $t("footer.dep_possbs") }}
                </a>
                <a
                    class="footer__link"
                    href="#!">
                    {{ $t("footer.dep_integrs") }}
                </a>
            </div>
            <div class="footer__links">
                <p class="footer__links-title">{{ $t("footer.acts_title") }}</p>
                <a
                    class="footer__link"
                    href="#!">
                    {{ $t("footer.acts_docs") }}
                </a>
                <a
                    class="footer__link"
                    href="#!">
                    {{ $t("footer.acts_instrs") }}
                </a>
                <a
                    class="footer__link"
                    href="#!">
                    {{ $t("footer.acts_support") }}
                </a>
            </div>
            <div class="footer__links rs-last">
                <p class="footer__links-title">{{ $t("footer.contacts__title") }}</p>
                <a
                    class="footer__link"
                    href="#!">
                    info@platon.uz
                </a>
                <a
                    class="footer__link"
                    href="#!">
                    +99878 777 84 84
                </a>
                <a
                    class="footer__link"
                    href="#!">
                    Telegram: @realsoft_help
                </a>
                <a
                    class="footer__link"
                    href="#!">
                    {{ $t("footer.contacts__address") }}
                </a>
            </div>
        </div>
        <div class="footer__copyright">
            <p class="footer__copyright-txt">
                {{ $t("footer.copyright").replace("%crntyear", new Date().getFullYear()) }}
            </p>
        </div>
    </footer>
</template>

<script>
export default {
    name: "section-footer",
    components: {},
    mounted() {},
    methods: {},
};
</script>
