<template>
    <section
        id="support"
        class="rs-support">
        <CompAnim
            :size="'600px'"
            :bottom="'0'"
            :right="'-5%'" />
        <div class="rs-support__content container">
            <div class="rs-support__titling">
                <h1
                    class="rs-support__titling-title pl-animatable"
                    v-scroll="'0.5s'">
                    {{ $t("support.title") }}
                </h1>
                <h2
                    class="rs-support__titling-subtitle pl-animatable"
                    v-scroll="'0.8s'"
                    v-html="$t('support.subtitle')"></h2>
                <p
                    class="rs-support__titling-desc pl-animatable"
                    v-scroll="'1.1s'">
                    {{ $t("support.desc") }}
                </p>
            </div>

            <div
                ref="support__swiper"
                class="rs-support__slider">
                <div class="swiper-wrapper">
                    <div
                        v-for="(item, index) in [...supportList, ...supportList]"
                        :key="'slide' + index"
                        class="swiper-slide rs-supportslide pl-animatable"
                        v-scroll="`${0.25 + 0.25 * index}s`">
                        <div class="rs-supportslide__content">
                            <div class="rs-supportslide__image">
                                <img
                                    :src="item.image"
                                    alt="photo"
                                    class="rs-supportslide__image-img" />

                                <span
                                    class="rs-supportslide__image-btn"
                                    :style="{animationDelay: '-' + index * 0.33 + 's'}">
                                    <img
                                        src="@/assets/icons/icon-play.svg"
                                        alt="play" />
                                </span>
                            </div>
                            <div class="rs-supportslide__desc">
                                <p class="rs-supportslide__date">{{ item.date }}</p>
                                <h3 class="rs-supportslide__title">{{ item.title }}</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="rs-support__slider-navigation pl-animatable"
                v-scroll="'0.5s'">
                <span class="rs-support__slider-btn support__swiper-prev">
                    <CompButton
                        class="rs-support__slider-btn"
                        :rsbtnText="'Пред.'"
                        :rsbtnType="'rs-secondary'"
                        :rsbtnLeftIcon="'icon-arrow-prev'" />
                </span>
                <span class="rs-support__slider-btn support__swiper-next">
                    <CompButton
                        class="rs-support__slider-btn"
                        :rsbtnText="'След.'"
                        :rsbtnType="'rs-secondary'"
                        :rsbtnRightIcon="'icon-arrow-next'" />
                </span>
            </div>
        </div>
    </section>
</template>

<script>
import CompButton from "@/components/comp-unibtn.vue";
import CompAnim from "@/components/comp-animafig.vue";
import Swiper, {Navigation, Pagination, Autoplay} from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/autoplay";

export default {
    name: "section-support",
    components: {
        CompButton,
        CompAnim,
    },
    data() {
        return {
            supportList: [
                {
                    date: "Fev 18, 2023 4:32 pm",
                    title: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, veniam!",
                    image: require("@/assets/images/support-1.jpg"),
                },
                {
                    date: "Mar 28, 2023 4:32 pm",
                    title: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, veniam!",
                    image: require("@/assets/images/support-2.jpg"),
                },
                {
                    date: "Apr 21, 2023 4:32 pm",
                    title: "Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo, veniam!",
                    image: require("@/assets/images/support-3.jpg"),
                },
            ],
        };
    },

    mounted() {
        new Swiper(this.$refs.support__swiper, {
            modules: [Navigation, Pagination, Autoplay],
            loop: false,
            slidesPerView: 1,
            spaceBetween: 15,

            navigation: {
                nextEl: ".support__swiper-next",
                prevEl: ".support__swiper-prev",
            },

            breakpoints: {
                576: {
                    slidesPerView: 2,
                },
                992: {
                    slidesPerView: 3,
                },
            },
        });
    },
};
</script>

<style></style>
