<template>
    <section
        id="possibilities"
        class="rs-possbs">
        <CompAnim
            :size="'80vh'"
            :top="'-10%'"
            :left="'-5%'" />
        <div class="rs-possbs__content container">
            <div class="rs-possbs__titling">
                <h1
                    class="rs-possbs__titling-title pl-animatable"
                    v-scroll="'0s'">
                    {{ $t("possbs.title") }}
                </h1>
                <h2
                    class="rs-possbs__titling-subtitle pl-animatable"
                    v-scroll="'0.2s'"
                    v-html="$t('possbs.subtitle')"></h2>
                <p
                    class="rs-possbs__titling-desc pl-animatable"
                    v-scroll="'0.4s'">
                    {{ $t("possbs.desc") }}
                </p>
            </div>
            <div
                class="rs-possbs__body pl-animatable"
                v-scroll="'0.6s'">
                <div class="rs-possbs__tabs">
                    <div
                        class="rs-possbs__tab"
                        :class="{'rs-active': currentTab === 1}"
                        @click="currentTab = 1">
                        {{ $t("possbs.fordevs_title") }}
                    </div>
                    <div
                        class="rs-possbs__tab"
                        :class="{'rs-active': currentTab === 2}"
                        @click="currentTab = 2">
                        {{ $t("possbs.optimise_title") }}
                    </div>
                    <div
                        class="rs-possbs__tab"
                        :class="{'rs-active': currentTab === 3}"
                        @click="currentTab = 3">
                        {{ $t("possbs.apis_title") }}
                    </div>
                </div>
                <div class="rs-possbs__tabcontents">
                    <div
                        v-if="currentTab === 1"
                        class="rs-possbs__tabcontent">
                        <div class="rs-possbs__item">
                            <div class="rs-possbs__image">
                                <img
                                    src="@/assets/icons/animations/icon-development.gif"
                                    alt="laptop"
                                    class="rs-possbs__image-img" />
                            </div>

                            <div class="rs-possbs__desc">
                                <h2 class="rs-possbs__desc-title">{{ $t("possbs.fordevs_subtitle") }}</h2>
                                <div class="rs-possbs__desc-item rs-possibility">
                                    <div class="rs-possibility__titling">
                                        <img
                                            class="rs-possibility__icon"
                                            src="@/assets/icons/icon-psb-1.svg"
                                            alt="icon" />
                                        <p class="rs-possibility__title">{{ $t("possbs.fordevs_adv1_title") }}</p>
                                    </div>
                                    <p class="rs-possibility__desc">{{ $t("possbs.fordevs_adv1_desc") }}</p>
                                </div>
                                <div class="rs-possbs__desc-item rs-possibility">
                                    <div class="rs-possibility__titling">
                                        <img
                                            class="rs-possibility__icon"
                                            src="@/assets/icons/icon-psb-2.svg"
                                            alt="icon" />
                                        <p class="rs-possibility__title">{{ $t("possbs.fordevs_adv2_title") }}</p>
                                    </div>
                                    <p class="rs-possibility__desc">{{ $t("possbs.fordevs_adv2_desc") }}</p>
                                </div>
                                <div class="rs-possbs__desc-item rs-possibility">
                                    <div class="rs-possibility__titling">
                                        <img
                                            class="rs-possibility__icon"
                                            src="@/assets/icons/icon-psb-3.svg"
                                            alt="icon" />
                                        <p class="rs-possibility__title">{{ $t("possbs.fordevs_adv3_title") }}</p>
                                    </div>
                                    <p class="rs-possibility__desc">{{ $t("possbs.fordevs_adv3_desc") }}</p>
                                </div>
                                <CompButton
                                    class="rs-possbs__desc-btn"
                                    :rsbtnText="$t('possbs.fordevs_more')"
                                    :rsbtnLink="'https://realsoft.uz/'"
                                    :rsbtnTarget="true"
                                    :rsbtnType="'rs-secondary'" />
                            </div>
                        </div>
                    </div>

                    <div
                        v-if="currentTab === 2"
                        class="rs-possbs__tabcontent">
                        <div class="rs-possbs__item">
                            <div class="rs-possbs__image">
                                <img
                                    src="@/assets/icons/animations/icon-optimize.gif"
                                    alt="laptop"
                                    class="rs-possbs__image-img" />
                            </div>

                            <div class="rs-possbs__desc">
                                <h2 class="rs-possbs__desc-title">Мы предлагаем обширные возможности интеграций</h2>
                                <div class="rs-possbs__desc-item rs-possibility">
                                    <div class="rs-possibility__titling">
                                        <img
                                            class="rs-possibility__icon"
                                            src="@/assets/icons/icon-psb-1.svg"
                                            alt="icon" />
                                        <p class="rs-possibility__title">Автоматизированная генерация API</p>
                                    </div>
                                    <p class="rs-possibility__desc">Платформа автоматически подключается к базе данных, файлам, памяти и API, выполняя все операции в автоматическом режиме. От разработчика требуется только задать логику.</p>
                                </div>
                                <div class="rs-possbs__desc-item rs-possibility">
                                    <div class="rs-possibility__titling">
                                        <img
                                            class="rs-possibility__icon"
                                            src="@/assets/icons/icon-psb-2.svg"
                                            alt="icon" />
                                        <p class="rs-possibility__title">Возможность быстрой авторизации</p>
                                    </div>
                                    <p class="rs-possibility__desc">После подключения обычного пользователя к подготовленной программе с использованием его логина и пароля, он может свободно пользоваться разработанными функциями системы.</p>
                                </div>
                                <div class="rs-possbs__desc-item rs-possibility">
                                    <div class="rs-possibility__titling">
                                        <img
                                            class="rs-possibility__icon"
                                            src="@/assets/icons/icon-psb-3.svg"
                                            alt="icon" />
                                        <p class="rs-possibility__title">Усиленный слой защиты</p>
                                    </div>
                                    <p class="rs-possibility__desc">Защитный слой платформы Platon может показывать необходимые данные в зависимости от типов пользователей. Для этого в системе имеется мощный механизм управления разрешениями.</p>
                                </div>
                                <CompButton
                                    class="rs-possbs__desc-btn"
                                    :rsbtnText="$t('possbs.fordevs_more')"
                                    :rsbtnLink="'https://realsoft.uz/'"
                                    :rsbtnTarget="true"
                                    :rsbtnType="'rs-secondary'" />
                            </div>
                        </div>
                    </div>

                    <div
                        v-if="currentTab === 3"
                        class="rs-possbs__tabcontent">
                        <div class="rs-possbs__item">
                            <div class="rs-possbs__image">
                                <img
                                    src="@/assets/icons/animations/icon-api.gif"
                                    alt="laptop"
                                    class="rs-possbs__image-img" />
                            </div>

                            <div class="rs-possbs__desc">
                                <h2 class="rs-possbs__desc-title">Возможность расширенных настроек API запросов</h2>
                                <div class="rs-possbs__desc-item rs-possibility">
                                    <div class="rs-possibility__titling">
                                        <img
                                            class="rs-possibility__icon"
                                            src="@/assets/icons/icon-psb-1.svg"
                                            alt="icon" />
                                        <p class="rs-possibility__title">Возможность создания уникального API</p>
                                    </div>
                                    <p class="rs-possibility__desc">Платформа Platon обладает тщательно разработанным механизмом API для внутренних и внешних обращений.</p>
                                </div>
                                <div class="rs-possbs__desc-item rs-possibility">
                                    <div class="rs-possibility__titling">
                                        <img
                                            class="rs-possibility__icon"
                                            src="@/assets/icons/icon-psb-2.svg"
                                            alt="icon" />
                                        <p class="rs-possibility__title">Возможность легкого использования API данных</p>
                                    </div>
                                    <p class="rs-possibility__desc">Разработчик может создавать API Endpoint в любом порядке и форме, обеспечивая их бесперебойную работу внутри платформы.</p>
                                </div>
                                <div class="rs-possbs__desc-item rs-possibility">
                                    <div class="rs-possibility__titling">
                                        <img
                                            class="rs-possibility__icon"
                                            src="@/assets/icons/icon-psb-3.svg"
                                            alt="icon" />
                                        <p class="rs-possibility__title">Возможность возврата API в любом виде</p>
                                    </div>
                                    <p class="rs-possibility__desc">Кроме того, API ENGINE способен выполнять многоступенчатые запросы и возвращать их данные в любой форме по усмотрению разработчика.</p>
                                </div>
                                <CompButton
                                    class="rs-possbs__desc-btn"
                                    :rsbtnText="$t('possbs.fordevs_more')"
                                    :rsbtnLink="'https://realsoft.uz/'"
                                    :rsbtnTarget="true"
                                    :rsbtnType="'rs-secondary'" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CompButton from "@/components/comp-unibtn.vue";
import CompAnim from "@/components/comp-animafig.vue";
export default {
    name: "section-intro",
    components: {
        CompButton,
        CompAnim,
    },
    data() {
        return {
            currentTab: 1,
        };
    },
};
</script>

<style></style>
