<template>
    <section
        id="introduction"
        class="rs-intro">
        <CompAnim
            :size="'900px'"
            :top="'-5%'"
            :right="'-50px'" />
        <div class="rs-intro__content container">
            <div class="rs-intro__titling">
                <h1
                    class="rs-intro__titling-title pl-animatable"
                    v-scroll="'0s'">
                    PLATON.UZ
                </h1>
                <h2
                    class="rs-intro__titling-subtitle pl-animatable"
                    v-scroll="'0.3s'"
                    v-html="$t('intro.subtitle')"></h2>
                <p
                    class="rs-intro__titling-desc pl-animatable"
                    v-scroll="'0.6s'"
                    v-html="$t('intro.title')"></p>
            </div>

            <div
                class="rs-intro__actions pl-animatable"
                v-scroll="'0.8s'">
                <CompButton
                    class="rs-header__action-btn"
                    :rsbtnText="$t('intro.fulldocs')"
                    :rsbtnLink="'https://doc.platon.uz/uz/home'"
                    :rsbtnTarget="true"
                    :rsbtnLeftIcon="'icon-user'"
                    :rsbtnType="'rs-secondary'" />
                <CompButton
                    class="rs-header__action-btn"
                    :rsbtnText="$t('intro.workwith')"
                    :rsbtnLink="'https://t.me/realsoft_uz'"
                    :rsbtnTarget="true"
                    :rsbtnLeftIcon="'icon-document'" />
            </div>

            <div
                class="rs-intro__image pl-animatable"
                v-scroll="'1s'">
                <div class="rs-intro__image-video">
                    <video
                        disablePictureInPicture
                        webkit-playsinline
                        playsinline
                        loop
                        autoplay
                        muted
                        src="@/assets/media/animation.mp4"></video>
                </div>
                <img
                    class="rs-intro__image-img"
                    src="@/assets/images/intro-bg.png"
                    alt="intro" />
            </div>
        </div>
    </section>
</template>

<script>
import CompButton from "@/components/comp-unibtn.vue";
import CompAnim from "@/components/comp-animafig.vue";
export default {
    name: "section-intro",
    components: {
        CompButton,
        CompAnim,
    },
};
</script>

<style></style>
