<template>
    <section
        id="projects"
        class="rs-projects">
        <div class="rs-projects__content container">
            <div class="rs-projects__titling">
                <h1
                    class="rs-projects__titling-title pl-animatable"
                    v-scroll="'0.7s'">
                    {{ $t("projects.title") }}
                </h1>
                <h2
                    class="rs-projects__titling-subtitle pl-animatable"
                    v-scroll="'0.7s'"
                    v-html="$t('projects.subtitle')"></h2>
                <p
                    class="rs-projects__titling-desc pl-animatable"
                    v-scroll="'0.7s'">
                    {{ $t("projects.desc") }}
                </p>
            </div>

            <div
                ref="projects__swiper"
                class="rs-projects__swiper pl-animatable"
                v-scroll="'0.5s'">
                <div class="swiper-wrapper">
                    <div
                        v-for="(item, index) in data"
                        :key="'slide' + index"
                        class="swiper-slide rs-prjctslide">
                        <div class="rs-prjctslide__content">
                            <div class="rs-prjctslide__desc">
                                <h2 class="rs-prjctslide__title">{{ item.title }}</h2>
                                <p class="rs-prjctslide__subtitle">{{ item.desc }}</p>
                            </div>
                            <img
                                :src="item.image"
                                alt="image"
                                class="rs-prjctslide__image" />
                        </div>
                    </div>
                </div>
            </div>

            <div
                class="rs-projects__slider-navigation pl-animatable"
                v-scroll="'0.5s'">
                <span class="rs-projects__slider-btn projects__swiper-prev">
                    <CompButton
                        class="rs-projects__slider-btn"
                        :rsbtnText="'Пред.'"
                        :rsbtnType="'rs-secondary'"
                        :rsbtnLeftIcon="'icon-arrow-prev'" />
                </span>
                <span class="rs-projects__slider-btn projects__swiper-next">
                    <CompButton
                        class="rs-projects__slider-btn"
                        :rsbtnText="'След.'"
                        :rsbtnType="'rs-secondary'"
                        :rsbtnRightIcon="'icon-arrow-next'" />
                </span>
            </div>
        </div>
    </section>
</template>

<script>
import CompButton from "@/components/comp-unibtn.vue";
import Swiper, {Navigation, Pagination, Autoplay} from "swiper";
import "swiper/css";
import "swiper/css/navigation";
import "swiper/css/pagination";
import "swiper/css/autoplay";

export default {
    name: "section-projects",
    components: {
        CompButton,
    },
    data() {
        return {
            data: [
                {
                    title: this.$t("projects.project_onlinemahalla"),
                    desc: this.$t("projects.project_onlinemahalla_desc"),
                    image: require("@/assets/images/project-onlinem.jpg"),
                },
                {
                    title: this.$t("projects.project_oilakredit"),
                    desc: this.$t("projects.project_oilakredit_desc"),
                    image: require("@/assets/images/project-oilakredit.jpg"),
                },
                {
                    title: this.$t("projects.project_nodavlat"),
                    desc: this.$t("projects.project_nodavlat_desc"),
                    image: require("@/assets/images/project-nodavlat.jpg"),
                },
                {
                    title: this.$t("projects.project_smartagro"),
                    desc: this.$t("projects.project_smartagro_desc"),
                    image: require("@/assets/images/project-smartagro.jpg"),
                },
                {
                    title: this.$t("projects.project_agroonline"),
                    desc: this.$t("projects.project_agroonline_desc"),
                    image: require("@/assets/images/project-agroonline.jpg"),
                },
                {
                    title: this.$t("projects.project_brb"),
                    desc: this.$t("projects.project_brb_desc"),
                    image: require("@/assets/images/project-brb.jpg"),
                },
                {
                    title: this.$t("projects.project_hujjat"),
                    desc: this.$t("projects.project_hujjat_desc"),
                    image: require("@/assets/images/project-hujjat.jpg"),
                },
                {
                    title: this.$t("projects.project_onlinebozor"),
                    desc: this.$t("projects.project_onlinebozor_desc"),
                    image: require("@/assets/images/project-onlinebozor.jpg"),
                },
                {
                    title: this.$t("projects.project_smartmarket"),
                    desc: this.$t("projects.project_smartmarket_desc"),
                    image: require("@/assets/images/project-smartmarket.jpg"),
                },
                {
                    title: this.$t("projects.project_smartoffice"),
                    desc: this.$t("projects.project_smartoffice_desc"),
                    image: require("@/assets/images/project-smartoffice.jpg"),
                },
                {
                    title: this.$t("projects.project_suvkredit"),
                    desc: this.$t("projects.project_suvkredit_desc"),
                    image: require("@/assets/images/project-suvkredit.jpg"),
                },
                {
                    title: this.$t("projects.project_xotinqiz"),
                    desc: this.$t("projects.project_xotinqiz_desc"),
                    image: require("@/assets/images/project-xotinq.jpg"),
                },
            ],
        };
    },
    mounted() {
        new Swiper(this.$refs.projects__swiper, {
            modules: [Navigation, Pagination, Autoplay],
            loop: false,
            slidesPerView: 1,
            spaceBetween: 20,

            // pagination: {
            //     el: ".projects__swiper-pagination",
            //     type: "bullets",
            // },
            navigation: {
                nextEl: ".projects__swiper-next",
                prevEl: ".projects__swiper-prev",
            },

            breakpoints: {
                576: {
                    spaceBetween: 40,
                },
            },
        });
    },
};
</script>

<style></style>
