<template>
    <section
        id="instructions"
        class="rs-instructions">
        <CompAnim
            :size="'700px'"
            :top="'-5%'"
            :left="'-50px'" />
        <div class="rs-instructions__content container">
            <div class="rs-instructions__titling">
                <h1
                    class="rs-instructions__titling-title pl-animatable"
                    v-scroll="'0.7s'">
                    {{ $t("instrs.title") }}
                </h1>
                <h2
                    class="rs-instructions__titling-subtitle pl-animatable"
                    v-scroll="'1s'"
                    v-html="$t('instrs.subtitle')"></h2>
                <p
                    class="rs-instructions__titling-desc pl-animatable"
                    v-scroll="'1.3s'">
                    {{ $t("instrs.desc") }}
                </p>

                <CompButton
                    class="rs-instructions__btn pl-animatable"
                    v-scroll="'1.6s'"
                    :rsbtnText="$t('instrs.fulldocs')"
                    :rsbtnLink="'https://doc.platon.uz/uz/home'"
                    :rsbtnTarget="true"
                    :rsbtnType="'rs-secondary'"
                    :rsbtnLeftIcon="'icon-document-blue'" />
            </div>
            <div
                class="rs-instructions__list pl-animatable"
                v-scroll="'0.6s'">
                <div
                    v-for="(item, index) in instructionsList"
                    :key="'item_' + index"
                    :class="{'rs-open': instructionsOpen === index}"
                    class="rs-instructions__item rs-instruction">
                    <div
                        class="rs-instruction__toggler"
                        @click="instructionsOpen = index">
                        <p class="rs-instruction__text">{{ item.title }}</p>
                        <span class="rs-instruction__btn"></span>
                    </div>
                    <div class="rs-instruction__body">
                        <p class="rs-instruction__desc">{{ item.desc }}</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</template>

<script>
import CompButton from "@/components/comp-unibtn.vue";
import CompAnim from "@/components/comp-animafig.vue";

export default {
    name: "section-instructions",
    components: {
        CompButton,
        CompAnim,
    },
    data() {
        return {
            instructionsOpen: 1,
            instructionsList: [
                {
                    title: this.$t("instrs.ins_addfiles_title"),
                    desc: this.$t("instrs.ins_addfiles_desc"),
                },
                {
                    title: this.$t("instrs.ins_addcodes_title"),
                    desc: this.$t("instrs.ins_addcodes_desc"),
                },
                {
                    title: this.$t("instrs.ins_integrations_title"),
                    desc: this.$t("instrs.ins_integrations_desc"),
                },
                {
                    title: this.$t("instrs.ins_clouds_title"),
                    desc: this.$t("instrs.ins_clouds_desc"),
                },
                {
                    title: this.$t("instrs.ins_designs_title"),
                    desc: this.$t("instrs.ins_designs_desc"),
                },
            ],
        };
    },
};
</script>
