.rsbtn {
    all: unset;
    box-sizing: border-box;
    display: inline-flex;
    padding: 5px 25px;
    justify-content: center;
    align-items: center;
    gap: 5px;
    height: 50px;
    border-radius: 16px;
    background: #226ce6;
    cursor: pointer;
    transition: 0.3s;

    &__icon {
        width: 15px;
        height: 15px;
        object-fit: contain;
        display: flex;
    }

    &__text {
        color: #ffffff;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 130%; /* 140% */
        transition: 0.2s;
        white-space: nowrap;
    }

    &:hover {
        opacity: 0.6;
    }

    &:active {
        transform: scale(0.95);
    }

    &.rs-secondary {
        background: transparent;
        border: 1px solid #226ce6;

        .rsbtn__text {
            color: #226ce6;
        }
    }
}
