.tp-anfigure {
    display: flex;
    position: absolute;
    z-index: 0;
    background: #226ce6;
    filter: blur(5px);
    opacity: 0.05;
    overflow: hidden;
    will-change: border-radius transform;
    pointer-events: none;
    transition: 0.3s;
    user-select: none;
}

@keyframes surface {
    0% {
        border-radius: 30% 100% 70% 30% / 100% 30% 70% 70%;
    }

    25% {
        border-radius: 65% 35% 51% 49% / 49% 52% 48% 51%;
    }

    50% {
        border-radius: 42% 58% 28% 72% / 65% 34% 66% 35%;
    }

    75% {
        border-radius: 34% 66% 63% 37% / 77% 38% 62% 23%;
    }

    100% {
        border-radius: 24% 76% 72% 28% / 53% 68% 32% 47%;
    }
}

@keyframes rotateZ {
    0% {
        transform: rotateZ(0deg);
    }

    100% {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(359deg);
    }
}
